<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Island.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>IslandEditor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>UnitTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4B54ABEC172D3F6F00434EEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B6E99F7170EC8DF002F9797</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B8C6FCC170EC4290005D9BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BDA14A916F7796700359B94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
